[TELEGRAM]
token = 729459468:AAECmtF1atxy_vdwM6Fc75tWG-paTZ_B_JY
chatids = [128328070]

[NZBGET]
host = etec.iv.at
port = 6789
username = nzbget
password = tegbzn6789

[INDEXER1]
name = nzb.su
url = https://www.nzb.su
apikey = 15f358c78ddf57aa0557ef5dd4b9157a

[INDEXER2]
name = drunkenslug
url = https://drunkenslug.com
apikey = e719320acaaaa963e023e0026a83fa95

[INDEXER3]
name = nzbgeek
url = https://api.nzbgeek.info
apikey = 70881358418768

[INDEXER4]
name = scenenzbs
url = https://scenenzbs.com
apikey = b82b697a7ac38493a52fe4dbd45b7eba
