anyio
certifi
charset-normalizer
# fridagram    local repo etec
furl
h11
httpcore
httpx
idna
mccabe
mypy-extensions
orderedmultidict
parso
pycodestyle
pyflakes
python-telegram-bot
requests
rfc3986
setproctitle
sniffio
toml
urllib3
