[Unit]
Description=Dachshund 
After=network.target media-nfs-development.mount mongodb.service redis.service

[Service]
#Type=forking
User=stephan
ExecStart=/home/stephan/.virtualenvs/dachshund/bin/dachshund
KillMode=process

[Install]
WantedBy=multi-user.target

